<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.tuilmenau.ics.fog.nodeConfiguration">
      <routing
            class="de.tuilmenau.ics.fog.ui.eclipse.commands.hierarchical.NodeConfiguratorHRM"
            name="HierarchicalRoutingManagement">
      </routing>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.tuilmenau.ics.fog.ui.eclipse.editors.CoordinatorEditor"
            id="de.tuilmenau.ics.fog.coordinatoreditor"
            name="HRM viewer">
      </editor>
      <editor
            class="de.tuilmenau.ics.fog.ui.eclipse.editors.ClusterViewer"
            default="false"
            id="de.tuilmenau.ics.fog.clusterviewer"
            name="Cluster viewer">
      </editor>
   </extension>
   <extension
         point="de.tuilmenau.ics.fog.hostApplications">
      <editor
            editorID="de.tuilmenau.ics.fog.coordinatoreditor"
            filter="de.tuilmenau.ics.fog.routing.hierarchical.HRMController"
            name="HRM viewer">
      </editor>
      <plugin
            class="de.tuilmenau.ics.fog.ui.eclipse.commands.hierarchical.SendPacket"
            name="Send packet">
      </plugin>
      <editor
            editorID="de.tuilmenau.ics.fog.clusterviewer"
            filter="de.tuilmenau.ics.fog.routing.hierarchical.HRMController"
            name="Cluster viewer">
      </editor>
   </extension>

</plugin>
