<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.tuilmenau.ics.fog.nodeConfiguration">
      <routing
            class="de.tuilmenau.ics.fog.ui.eclipse.commands.hierarchical.NodeConfiguratorHRM"
            name="HierarchicalRoutingManagement">
      </routing>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.tuilmenau.ics.fog.ui.eclipse.editors.HRMViewer"
            id="de.tuilmenau.ics.fog.hrmviewer"
            name="HRM viewer">
      </editor>
      <editor
            class="de.tuilmenau.ics.fog.ui.eclipse.editors.ClusterViewer"
            default="false"
            id="de.tuilmenau.ics.fog.clusterviewer"
            name="Cluster viewer">
      </editor>
   </extension>
   <extension
         point="de.tuilmenau.ics.fog.hostApplications">
       <plugin
            name="Create node"
            class="de.tuilmenau.ics.fog.ui.eclipse.commands.hierarchical.CreateNode"
            filter="de.tuilmenau.ics.fog.topology.IAutonomousSystem">
      </plugin>
       <plugin
            name="Create node"
            class="de.tuilmenau.ics.fog.ui.eclipse.commands.hierarchical.CreateNode"
            filter="de.tuilmenau.ics.fog.topology.Node">
      </plugin>
       <plugin
            name="Create bus"
            class="de.tuilmenau.ics.fog.ui.eclipse.commands.hierarchical.CreateBus"
            filter="de.tuilmenau.ics.fog.topology.IAutonomousSystem">
      </plugin>
      <plugin
            name="Delete node"
            class="de.tuilmenau.ics.fog.ui.eclipse.commands.hierarchical.DeleteNode"
            filter="de.tuilmenau.ics.fog.topology.Node">
      </plugin>
      <plugin
            name="Delete bus"
            class="de.tuilmenau.ics.fog.ui.eclipse.commands.hierarchical.DeleteBus"
            filter="de.tuilmenau.ics.fog.bus.Bus">
      </plugin>
      <plugin
            name="Link to node.."
            class="de.tuilmenau.ics.fog.ui.eclipse.commands.hierarchical.LinkToNode"
            filter="de.tuilmenau.ics.fog.topology.Node">
      </plugin>
         
      <plugin
            name="Link to bus.."
            class="de.tuilmenau.ics.fog.ui.eclipse.commands.hierarchical.LinkToBus"
            filter="de.tuilmenau.ics.fog.topology.Node">
      </plugin>

      <editor
            editorID="de.tuilmenau.ics.fog.hrmviewer"
            filter="de.tuilmenau.ics.fog.routing.hierarchical.HRMController"
            name="HRM viewer">
      </editor>
<!--      <plugin
            class="de.tuilmenau.ics.fog.ui.eclipse.commands.hierarchical.SendPacket"
            name="Send packet">
      </plugin> -->
      <editor
            editorID="de.tuilmenau.ics.fog.clusterviewer"
            filter="de.tuilmenau.ics.fog.routing.hierarchical.HRMController"
            name="Cluster viewer">
      </editor>
   </extension>

</plugin>
