<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.tuilmenau.ics.fog.nodeConfiguration">
      <routing
            class="de.tuilmenau.ics.fog.ui.eclipse.commands.hierarchical.NodeConfiguratorHierarchicalRadiusOnly"
            name="HRMRadius">
      </routing>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.tuilmenau.ics.fog.ui.eclipse.editors.CoordinatorEditor"
            id="de.tuilmenau.ics.fog.coordinatoreditor"
            name="Coordinator Editor">
      </editor>
      <editor
            class="de.tuilmenau.ics.fog.ui.eclipse.editors.ClusterViewer"
            default="false"
            id="de.tuilmenau.ics.fog.clusterviewer"
            name="Cluster View">
      </editor>
   </extension>
   
   <extension
         point="de.tuilmenau.ics.fog.commands">
      <editor
            editorID="de.tuilmenau.ics.fog.coordinatoreditor"
            filter="de.tuilmenau.ics.fog.routing.hierarchical.Coordinator"
            name="Coordinator View">
      </editor>
      <plugin
            class="de.tuilmenau.ics.fog.ui.eclipse.commands.hierarchical.SendPacket"
            filter="de.tuilmenau.ics.fog.routing.hierarchical.HierarchicalRoutingService"
            name="Send packet">
      </plugin>
      <editor
            editorID="de.tuilmenau.ics.fog.clusterviewer"
            filter="de.tuilmenau.ics.fog.routing.hierarchical.Coordinator"
            name="Cluster View"
            default="true">
      </editor>
      <editor
            editorID="de.tuilmenau.ics.fog.clusterviewer"
            filter="de.tuilmenau.ics.fog.routing.hierarchical.HierarchicalRoutingService"
            name="Cluster View"
            default="true">
      </editor>
   </extension>

</plugin>
