<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.tuilmenau.ics.fog.simulation">
         <observer
         	class="de.tuilmenau.ics.fog.eclipse.Activator">
         </observer>
   </extension>
   
   
	<extension
         point="org.eclipse.core.runtime.adapters">

      <factory
            adaptableType="de.tuilmenau.ics.fog.topology.Node"
            class="de.tuilmenau.ics.fog.eclipse.PropertyAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="de.tuilmenau.ics.fog.topology.ILowerLayer"
            class="de.tuilmenau.ics.fog.eclipse.PropertyAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="de.tuilmenau.ics.fog.topology.NeighborList"
            class="de.tuilmenau.ics.fog.eclipse.PropertyAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="de.tuilmenau.ics.fog.transfer.gates.AbstractGate"
            class="de.tuilmenau.ics.fog.eclipse.PropertyAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="de.tuilmenau.ics.fog.transfer.forwardingNodes.GateContainer"
            class="de.tuilmenau.ics.fog.eclipse.PropertyAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="de.tuilmenau.ics.fog.transfer.gates.GateIterator"
            class="de.tuilmenau.ics.fog.eclipse.PropertyAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="de.tuilmenau.ics.fog.routing.simulated.PartialRoutingService"
            class="de.tuilmenau.ics.fog.eclipse.PropertyAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="de.tuilmenau.ics.fog.routing.RoutingService"
            class="de.tuilmenau.ics.fog.eclipse.PropertyAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="de.tuilmenau.ics.fog.ui.PacketQueue"
            class="de.tuilmenau.ics.fog.eclipse.PropertyAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="de.tuilmenau.ics.fog.packets.Packet"
            class="de.tuilmenau.ics.fog.eclipse.PropertyAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="de.tuilmenau.ics.fog.topology.IAutonomousSystem"
            class="de.tuilmenau.ics.fog.eclipse.PropertyAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="de.tuilmenau.ics.fog.IWorker"
            class="de.tuilmenau.ics.fog.eclipse.PropertyAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="de.tuilmenau.ics.fog.facade.Description"
            class="de.tuilmenau.ics.fog.eclipse.PropertyAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="de.tuilmenau.ics.fog.transfer.ForwardingElement"
            class="de.tuilmenau.ics.fog.eclipse.PropertyAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="de.tuilmenau.ics.fog.transfer.manager.ProcessList"
            class="de.tuilmenau.ics.fog.eclipse.PropertyAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="de.tuilmenau.ics.fog.transfer.manager.Process"
            class="de.tuilmenau.ics.fog.eclipse.PropertyAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="de.tuilmenau.ics.fog.packets.Signalling"
            class="de.tuilmenau.ics.fog.eclipse.PropertyAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="java.util.LinkedList"
            class="de.tuilmenau.ics.fog.eclipse.PropertyAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="de.tuilmenau.ics.fog.application.Application"
            class="de.tuilmenau.ics.fog.eclipse.PropertyAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="de.tuilmenau.ics.fog.transfer.gates.headers.ProtocolHeader"
            class="de.tuilmenau.ics.fog.eclipse.PropertyAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="de.tuilmenau.ics.fog.routing.RoutingServiceLink"
            class="de.tuilmenau.ics.fog.eclipse.PropertyAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
	</extension>


	<extension
         point="org.eclipse.core.runtime.adapters">
      
      <factory
            adaptableType="de.tuilmenau.ics.fog.routing.GlobalRoutingService"
            class="de.tuilmenau.ics.fog.eclipse.OutlineAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.contentoutline.IContentOutlinePage">
         </adapter>
      </factory>
      <factory
            adaptableType="de.tuilmenau.ics.fog.routing.PartialRoutingService"
            class="de.tuilmenau.ics.fog.eclipse.OutlineAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.contentoutline.IContentOutlinePage">
         </adapter>
      </factory>
      <factory
            adaptableType="de.tuilmenau.ics.fog.topology.Node"
            class="de.tuilmenau.ics.fog.eclipse.OutlineAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.contentoutline.IContentOutlinePage">
         </adapter>
      </factory>
      <factory
            adaptableType="de.tuilmenau.ics.fog.topology.AutonomousSystem"
            class="de.tuilmenau.ics.fog.eclipse.OutlineAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.contentoutline.IContentOutlinePage">
         </adapter>
      </factory>
	</extension>

</plugin>
