<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="de.tuilmenau.ics.fog.simulation">
         <observer
         	class="de.tuilmenau.ics.fog.logging.RSLoggingSimulationObserver" 
         	early="true">
         </observer>

         <observer
         	class="de.tuilmenau.ics.fog.logging.EndStatisticWriter">
         </observer>
   </extension>
   

</plugin>
