<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.tuilmenau.ics.fog.gateFactory">
      <factory
            class="de.tuilmenau.ics.fog.base64.Base64GateFactory">
            <gateType
                name="Base64EncoderGate"
                description="gate factory for handling base64 encoding/decoding a stream"/>
      </factory>
      <factory
            class="de.tuilmenau.ics.fog.base64.Base64GateFactory">
            <gateType
                name="Base64DecoderGate"
                description="gate factory for handling base64 encoding/decoding a stream"/>
      </factory>
   </extension>
   
   <extension
         point="de.tuilmenau.ics.fog.requirement">
      <requirement
           name="Base64"
           description="property to have an base64 encoded data stream"
           factory="de.tuilmenau.ics.fog.base64.Base64PropertyFactory"/>
   </extension>
   
   <extension
         point="de.tuilmenau.ics.fog.commands">
      <plugin
            name="Enable base64 encoding support"
            class="de.tuilmenau.ics.fog.base64.Base64EnableCommand"
            filter="de.tuilmenau.ics.fog.facade.Host">
      </plugin>
   </extension>

</plugin>
