<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="de.tuilmenau.ics.fog.create">
         <command
            name="ethernet"
         	class="de.tuilmenau.ics.fog.emulator.CreateCommandEthernet">
         </command>
   </extension>
   

</plugin>
